
.article-detail__container{
    margin:auto;
}


@media only screen and (max-width: 600px) {
  .article-detail__header-image {
    margin-top: 0px;
    height: 50vh;
    display: flex;
    overflow: hidden;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
  }

  .article-detail__header-image img {
    height: 100%;
    
  }

  .article-detail__heading{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-top: 20px;
}
}

@media only screen and (min-width: 600px) and (max-width: 1200px) and (orientation: portrait) {
}

@media only screen and (min-width: 600px) and (max-width: 1200px) and (orientation: landscape) {
}

@media only screen and (min-width: 1200px) {

    .article-detail__width{
        max-width: 60vw;
    }

    .article-detail__header-image {
        margin-top: 50px;
        max-height: 80vh;
        display: flex;
        overflow: hidden;
      }
      
      .article-detail__header-image img {
        align-self: center;
        justify-self: center;
        max-width: 100%;
      }

      .article-detail__heading{
          display: flex;
          justify-content: flex-start;
          flex-direction: column;
          margin-top: 50px;
      }
      .article-detail__info{
          margin-top: 50px;
          display: flex;
          justify-content: flex-end;
      }
      .article-detail__info h3{
          width: 70%;
          column-count: 2;
      }

      .article-detail__domains{
          margin-top: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
      }
      .article-detail_domains__Tags{
          
          display: flex;
          flex-direction: row;
          width: 70%;
          justify-content: space-between;
          
      }
      .article-detail_domains__Tags--margin{
        
      }
      .article-detail_domains__Tags__Tag{
          padding: 20px 0 20px 0;
          display: flex;
          flex-direction: column;
          height: 200px;
          width: 200px;
          justify-content: space-evenly;
          align-items: center;
      }

}
