/* --------------------- Navigation Big-Screen  --------------------- */ 

nav{
    list-style-type: none;
  }
  
.nav-big--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999;
    background-color: white;
  }
  
  .nav-big--white-background{
    background-color: white;
  }
  
  .nav--shadow{
    box-shadow: 0 1px 2px 0 rgba(79, 58, 58, 0.1), 0 2.5px 5px 0 rgba(0, 0, 0, 0.05);
  }
  
  .nav-big__menu {
    margin:10px auto 10px auto;
    display: flex;
    justify-content: flex-end;   
    flex-wrap: nowrap;
    background: none;
    list-style-type: none;
    font-family: NHaasGroteskDSPro-75Bd;
  }
  
  .nav-big__logo {
    padding: 10px 10px 10px 0;
    font-size: 20px;
  
    order: 0; 
    align-self: center;
  }
  
  .nav-big__push {
    margin-left: auto;
  }
      
  
  .nav-big__item {
    padding: 10px;
    justify-self: ends;
    order: 1;
    position: relative; 
    margin-right: 30px;
    width: auto;
    text-transform: uppercase;
  }
  
  
 /* --------------------- Navigation Mobile --------------------- */ 
  
  .nav-mobile {
    width: 90vw;
    margin:20px auto 10px auto;
    display: flex;
    justify-content: space-between;   
    flex-wrap: nowrap;
    font-family: NHaasGroteskDSPro-75Bd;
  }

    
.nav-mobile--sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999999;
  background-color: white;
}
  
  #navigation-icon {
    top: 0;
    cursor: pointer;
  }
  
  .nav-mobile__menue-mobile{
    position: fixed;
    transition: 1s cubic-bezier(.52,.49,.19,1.04);
    width: 100vw;
    background: white;
    font-family: NHaasGroteskDSPro-75Bd;
    text-align: center;
    transform: translate(0px, -93%);
  
  }
  
  .nav-mobile__ul{
    height: 100vh;
  
    list-style-type: none;
  
    display: flex;
    justify-content: center;
    flex-direction: column;
    
  }
  
  .nav-mobile--folded{
    transform: translate(0px, 0px);
    overflow: hidden
  }
  
  .nav-mobile__item{
    padding: 0px 40px 40px 40px;
    justify-self: ends;
    order: 1;
    position: relative; 
    margin-right: 30px;
    width: auto;
    text-transform: uppercase;
    font-size: x-large;
  }
  


 
  
  

  /* Navigation */
  
  
/* --------------------- Indikators  --------------------- */ 
   
  .nav__blueline{
    position: relative;
  }
  
  .nav__blueline::before {
    content:"";
    position: absolute;
    width: 0;
    height: 6px;
    top: 1.5em;
    background-color:blue;
    visibility: hidden;
    transition: all 0s ease-in-out;
  
  }
  
  .nav__blueline--selected::before {
    visibility: visible;
    width: 100%;
    transition: all 0.3s ease-in-out;
  
  }

  .nav-mobile__indicator-mobile{
    font-style: italic;
    font-weight: 400;
  }