body {
  background-color: white;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-style: normal;
  font-weight: 100;
  margin: 0px;
}

.global--width {
  width: 90vw;
  max-width: 1800px;
}


/* --------------------- Buttons  --------------------- */ 

.article-preview__button {
  display: inline-block;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 2.5px;
  box-shadow: 0 1px 3px 0 rgba(77, 7, 7, 0.15), 0 2.5px 5px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 2.5px 0 rgba(255, 255, 255, 0.1);
  background: #0046ff;
  margin: 0;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  text-align: center;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.article-preview__button:hover {
  box-shadow: 0 5px 10px 0 rgba(77, 7, 7, 0.15), 0 5px 10px 0 rgba(0, 0, 0, 0.1),
    inset 0 -1px 2.5px 0 rgba(255, 255, 255, 0.3);
}

.article-preview__button span {
  color: white;
 margin-left: 50px;
 margin-right: 50px;

}

/* --------------------- Articles  --------------------- */ 


@media only screen and (max-width: 600px) {


  .articles__heading {
    margin: 20px auto 40px auto;
  }


  .articles__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto 5em auto;
    max-height: auto;
  }


  .articles__container__info{
    display: flex;
    flex-direction: column;
    order: 4;
    margin-top: 1em;
  }

  .articles__container--marginSM {
    margin-bottom: 0.5em;
  }
  
  .articles__container--marginL {
    margin-bottom: 0.5em;
  }

  .articles__container__image {
    height: 40vh;
    background-color: #f5f5f5;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articles__container__image--size {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }

  .articles__container__tag{
    order: 0;
  }

  .articles__container__info--order{
    order:1;
  }

  .articles__container__info__time{
    display: none;
  }
.article-preview__button {
  display: none;
}
}



@media only screen and (min-width:600px) and (max-width: 1200px) and (orientation: portrait) {


  .articles__heading {
    margin: 20px auto 40px auto;
  }


  .articles__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px auto 5em auto;
    max-height: auto;
  }


  .articles__container__info{
    display: flex;
    flex-direction: column;
    order: 4;
    margin-top: 1em;
 
    word-wrap:break-word;
  }

  .articles__container--marginSM {
    margin-bottom: 0.5em;
  }
  
  .articles__container--marginL {
    margin-bottom: 0.5em;
  }

  .articles__container__image {
    height: 40vh;
    background-color: #f5f5f5;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articles__container__image--size {
    max-width: 90%;
    max-height: 90%;
    margin: auto;
  }

  .articles__container__tag{
    order: 0;
  }

  .articles__container__info--order{
    order:1;
  }

  .articles__container__info__time{
    order:1;
  }
.article-preview__button {
  display: none;
}

.articles__container__info__description{
  max-width: 500px;
}

}

@media only screen and (min-width:600px) and (max-width: 1200px) and (orientation: landscape) {


  .articles__heading {
    margin: 50px auto 20vh auto;
  }
  
  .articles__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 20vh auto;
    max-height: auto;
  }
  
  .articles__container__info {
    flex: 40%;
    height: auto;
  }
  
  .articles__container__info--order {
    order: 4;
  }
  
  .articles__container__distance {
    flex: 2%;
    max-width: auto;
  }
  
  .articles__container__distance--order {
    order: 3;
  }
  
  .articles__container--marginSM {
    margin-bottom: 0.5em;
  }
  
  .articles__container--marginL {
    margin-bottom: 2em;
  }
  
  .articles__container__image {
    order: 2;
    flex: 55%;
    height: 50vh;
    background-color: #f5f5f5;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articles__container__image--size {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }


}



@media only screen and (min-width: 1200px) {


  .articles__heading {
    margin: 50px auto 20vh auto;
  }
  
  .articles__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 50px auto 20vh auto;
    max-height: auto;
  }
  
  .articles__container__info {
    flex: 30%;
    height: auto;
  }
  
  .articles__container__info--order {
    order: 4;
  }
  
  .articles__container__distance {
    flex: 2%;
    max-width: auto;
  }
  
  .articles__container__distance--order {
    order: 3;
  }
  
  .articles__container--marginSM {
    margin-bottom: 0.5em;
  }
  
  .articles__container--marginL {
    margin-bottom: 2em;
  }
  
  .articles__container__image {
    order: 2;
    flex: 65%;
    height: 70vh;
    background-color: #f5f5f5;
    padding: 2vh 2vw 2vh 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .articles__container__image--size {
    max-width: 100%;
    max-height: 100%;
    margin: auto;
  }


}


/* --------------------- Tags  --------------------- */ 

.tag {
  display: flex;
  flex-wrap: wrap;
}

.tag__box {
  display: inline-flex;
  align-items: center;
  background-color: rgba(0, 70, 255, 0.1);
  margin: 0 8px 8px 0;
  padding: 5px 16px 5px 8px;
  border-radius: 20px;
  background-color: rgba(0, 70, 255, 0.1);
}

.tag__box > p {
  margin-left: 4px;
}

